/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=12I0u0kgXnb7jzYc2s3l5jgq3eg */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

.color-primary-0 { color: #619E4A }	/* Main Primary color */
.color-primary-1 { color: #B9DEAC }
.color-primary-2 { color: #8BBF77 }
.color-primary-3 { color: #44832D }
.color-primary-4 { color: #276112 }

.color-complement-0 { color: #AF5261 }	/* Main Complement color */
.color-complement-1 { color: #F3BBC4 }
.color-complement-2 { color: #D38490 }
.color-complement-3 { color: #913140 }
.color-complement-4 { color: #6B1422 }


/* As RGBa codes */

.rgba-primary-0 { color: rgba( 97,158, 74,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(185,222,172,1) }
.rgba-primary-2 { color: rgba(139,191,119,1) }
.rgba-primary-3 { color: rgba( 68,131, 45,1) }
.rgba-primary-4 { color: rgba( 39, 97, 18,1) }

.rgba-complement-0 { color: rgba(175, 82, 97,1) }	/* Main Complement color */
.rgba-complement-1 { color: rgba(243,187,196,1) }
.rgba-complement-2 { color: rgba(211,132,144,1) }
.rgba-complement-3 { color: rgba(145, 49, 64,1) }
.rgba-complement-4 { color: rgba(107, 20, 34,1) }

.evidenzia { background: yellow }

.full-width {
    width: 100%;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}


body {
    font-family: Liberation Sans, sans-serif;
    font-size: 10pt;
    margin: 0;
    padding: 0;
    border: 0;
    /* background-color: #a0a0a0; */
    /* background-position: top center; */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed; */
    /* background-size: 100%; */
    /* background: linear-gradient(left,#e0e0e0,#a0a0a0,#e0e0e0); */
    /* background: -moz-linear-gradient(left,#e0e0e0,#a0a0a0,#e0e0e0); */
    background: linear-gradient(top,#e8e8e8,#ffffff);
    background: -moz-linear-gradient(top,#e8e8e8,#ffffff);
    background: -webkit-linear-gradient(top,#e8e8e8,#ffffff);
    background: -o-linear-gradient(top,#e8e8e8,#ffffff);
    color: #000000;
}

#header {
    background: linear-gradient(top,#e0e0e0,#b0b0b0);
    background: -moz-linear-gradient(top,#e0e0e0,#b0b0b0);
    background: -webkit-linear-gradient(top,#e0e0e0,#b0b0b0);
    background: -o-linear-gradient(top,#e0e0e0,#b0b0b0);
    vertical-align: middle;
    margin: 0;
    padding: 0;
    height: 100px;
    position: relative;
    width: 100%;
    top: 0;
    box-shadow: 0 2px 2px 2px #909090;
    -moz-box-shadow: 0 2px 2px 2px #909090;
    -webkit-box-shadow: 0 2px 2px 2px #909090;
}

#header img {
    background: linear-gradient(bottom,#e0e0e0,#b0b0b0);
    background: -moz-linear-gradient(bottom,#e0e0e0,#b0b0b0);
    background: -webkit-linear-gradient(bottom,#e0e0e0,#b0b0b0);
    background: -o-linear-gradient(bottom,#e0e0e0,#b0b0b0);
    padding: 2px;
    height: 60px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
}

#header .title {
    display: inline-block;
    padding: 5px;
    height: 40px;
    line-height: 40px;
    font-size: 32px;
    vertical-align: middle; 
    color: white;
    position: absolute;
    top: 0;
    left: 65px;
    letter-spacing: .2em;
}

#timestamp {
    position: absolute;
    top: 40px;
    left: 65px;
    padding: 5px;
    height: 20px;
    font-style: italic;
    color: white;
}

#menu_db,
#menu_single_db {
    position: absolute;
    bottom: 2px;
    width: 100%;
    left:0;
    right:0;
    text-align: center;
}

#menu_main {
    position: absolute;
    top: 2px;
    width: 50%;
    right:0;
    text-align: center;
}

#menu_db a,
#menu_single_db a {
    width: 9.4%;
}

#menu_main a {
    width: 20%;
}

.menu a {
    display: inline-block;
    padding-left: .1%;
    padding-right: .1%;
    padding-top: 5px;
    padding-bottom: 5px;
    background: linear-gradient(top,#e0e0e0,#b0b0b0);
    background: -moz-linear-gradient(top,#e0e0e0,#b0b0b0);
    background: -webkit-linear-gradient(top,#e0e0e0,#b0b0b0);
    background: -o-linear-gradient(top,#e0e0e0,#b0b0b0);
    text-decoration: none;
    color: white;
}

.menu a:hover, .menu a:active {
    background: linear-gradient(bottom,#e0e0e0,#b0b0b0);
    background: -moz-linear-gradient(bottom,#e0e0e0,#b0b0b0);
    background: -webkit-linear-gradient(bottom,#e0e0e0,#b0b0b0);
    background: -o-linear-gradient(bottom,#e0e0e0,#b0b0b0);
    color: black;
}

#footer {
    background: linear-gradient(top,#f0f0f0,#ffffff);
    background: -moz-linear-gradient(top,#f0f0f0,#ffffff);
    background: -webkit-linear-gradient(top,#f0f0f0,#ffffff);
    background: -o-linear-gradient(top,#f0f0f0,#ffffff);
    position: relative;
    width: 100%;
    bottom: 0;
    color: #a0a0a0;
    font-size: 70%;
    box-shadow: 0 -.5px .5px .5px #d0d0d0;
    -moz-box-shadow: 0 -.5px .5px .5px #d0d0d0;
    -webkit-box-shadow: 0 -.5px .5px .5px #d0d0d0;
    margin: 0;
    padding-top: .2em;
    margin-top: 3em;
}

#footer .big-letter {
    color: #808080;
}

#footer img {
    background: linear-gradient(bottom,#e0e0e0,#b0b0b0);
    background: -moz-linear-gradient(bottom,#e0e0e0,#b0b0b0);
    background: -webkit-linear-gradient(bottom,#e0e0e0,#b0b0b0);
    background: -o-linear-gradient(bottom,#e0e0e0,#b0b0b0);
    padding: 2px;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    margin: 2px;
    vertical-align: middle;
}

#content {
    min-height: 30em;
    background: white;
    margin: 0;
    padding: 0;
    padding: 1em;
    padding-top: 3em;
    position: relative;
}

/**** titles ****/

h1 {
    width: 100%;
    text-align: center;
    letter-spacing: .2em;
    margin:0;
    color: #909090;
    padding: 0;
    padding-top: 1em;
    padding-bottom: .5em;
    box-shadow: 0 .5px .5px .5px #d0d0d0;
    -moz-box-shadow: 0 .5px .5px .5px #d0d0d0;
    -webkit-box-shadow: 0 .5px .5px .5px #d0d0d0;
    font-size: 140%;
}

#content h1, #content h2 {
    width: 100%;
    text-align: left;
    letter-spacing: 0;
    color: #707070;
    margin:0;
    padding: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#content h1 {
    font-size: 120%;
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    margin-top: 2em;
    margin-bottom: 1em;
    padding: .2em;
}

#content h2 {
    font-size: 100%;
    margin-top: 1em;
}

pre {
    text-align: left;
}

/**** link ****/

a {
    color: black; 
}

a:hover, a:active {
    background: #505050;
    color: white;
}

/**** tables *****/

@media print {

    @page {
	size: landscape;
	margin: 1cm 1cm;
    }

    .noprint {
	display: none;
    }

    table { 
	page-break-inside:auto; 
    }

    tr,tbody,thead,tfoot,pre    { 
	page-break-inside:avoid; 
	page-break-after:auto;
    }
    thead { 
	display:table-header-group;
    }
    tfoot { 
	display:table-footer-group;
    }

    .on-new-page {
	page-break-before: always;
    }

}

table {
    border-collapse: separate;
    border-spacing: 0px;
    border: 1px solid #909090;

    /*border-collapse: collapse;*/
}

th,td {
    border: 1px solid #909090;
    vertical-align: top;
    padding-top: 2px;
    padding-bottom: 2px;
}


td.border-left {
    border: none;
    border-left: 1px solid #909090;
    border-top: 1px solid #909090;
    border-bottom: 1px solid #909090;
}

td.border-right {
    border: none;
    border-right: 1px solid #909090;
    border-top: 1px solid #909090;
    border-bottom: 1px solid #909090;
}

td.border-none {
    border: none;
    border-top: 1px solid #909090;
    border-bottom: 1px solid #909090;
}

tbody:hover tr.no_hover td,
td {
    background: #ffffff;
    color: #505050;
}

tbody:hover tr.no-hover th,
th {
    background: #f0f0f0;
    color: #909090; 
}

tbody:hover th {
    background: #c0c0c0;
    color: #505050; 
}

tbody:hover td {
    background: #cfcfcf;
    color: #000000; 
}

th a {
    color: #909090;
    text-decoration: none;
}

tbody:hover a {
    color: black;
}

tbody:hover a:hover, tbody:hover a:active {
    background: #909090;
    color: white;
}

pre {
    padding: 1em;
    border: 1px solid #909090;
    margin: 3em;
}


#content .zone-classification,
#content .zone-views {
    width: 30%;
    margin-left: auto;
    margin-right: 0;
    position: relative;
    font-style: italic;
    color: #909090;
    margin-bottom: 2em;
}

#content ul {
    margin:0;
    padding:0;
    margin-left: 2em;
}

.pagination {
    margin: 1em;
}

.pagination a {
    padding: .2em;
    padding-left: 1em;
    padding-right: 1em;
    margin: 0;
    margin-right: 1em;
    background: #f0f0f0;
    color: #909090;
    text-decoration: none;
}

.pagination a:hover,.pagination a:active {
    background: #909090;
    color: white;
}

/*** labelers ***/

/***

#####  Color Palette by Paletton.com
#####  Palette URL: http://paletton.com/#uid=7001q0kaVz84jP27qHbeJtFiHpX


*** Primary color: red

   shade 0 = #FFA8A8 = rgb(255,168,168) = rgba(255,168,168,1) = rgb0(1,0.659,0.659)
   shade 1 = #FFDDDD = rgb(255,221,221) = rgba(255,221,221,1) = rgb0(1,0.867,0.867)
   shade 2 = #FFC4C4 = rgb(255,196,196) = rgba(255,196,196,1) = rgb0(1,0.769,0.769)
   shade 3 = #EC8080 = rgb(236,128,128) = rgba(236,128,128,1) = rgb0(0.925,0.502,0.502)
   shade 4 = #CF5656 = rgb(207, 86, 86) = rgba(207, 86, 86,1) = rgb0(0.812,0.337,0.337)

*** Secondary color (1): yellow

   shade 0 = #FFF0A8 = rgb(255,240,168) = rgba(255,240,168,1) = rgb0(1,0.941,0.659)
   shade 1 = #FFF9DD = rgb(255,249,221) = rgba(255,249,221,1) = rgb0(1,0.976,0.867)
   shade 2 = #FFF5C4 = rgb(255,245,196) = rgba(255,245,196,1) = rgb0(1,0.961,0.769)
   shade 3 = #ECDA80 = rgb(236,218,128) = rgba(236,218,128,1) = rgb0(0.925,0.855,0.502)
   shade 4 = #CFBA56 = rgb(207,186, 86) = rgba(207,186, 86,1) = rgb0(0.812,0.729,0.337)

*** Secondary color (2): blue

   shade 0 = #8D80B7 = rgb(141,128,183) = rgba(141,128,183,1) = rgb0(0.553,0.502,0.718)
   shade 1 = #CDC7E1 = rgb(205,199,225) = rgba(205,199,225,1) = rgb0(0.804,0.78,0.882)
   shade 2 = #AEA4CE = rgb(174,164,206) = rgba(174,164,206,1) = rgb0(0.682,0.643,0.808)
   shade 3 = #7060A3 = rgb(112, 96,163) = rgba(112, 96,163,1) = rgb0(0.439,0.376,0.639)
   shade 4 = #56458E = rgb( 86, 69,142) = rgba( 86, 69,142,1) = rgb0(0.337,0.271,0.557)

*** Complement color: green

   shade 0 = #8AD18A = rgb(138,209,138) = rgba(138,209,138,1) = rgb0(0.541,0.82,0.541)
   shade 1 = #CCECCC = rgb(204,236,204) = rgba(204,236,204,1) = rgb0(0.8,0.925,0.8)
   shade 2 = #ACDFAC = rgb(172,223,172) = rgba(172,223,172,1) = rgb0(0.675,0.875,0.675)
   shade 3 = #66BD66 = rgb(102,189,102) = rgba(102,189,102,1) = rgb0(0.4,0.741,0.4)
   shade 4 = #45A545 = rgb( 69,165, 69) = rgba( 69,165, 69,1) = rgb0(0.271,0.647,0.271)

green: 002100 023802
blue: 09031d 110730
red: 2a0000 460303
yellow: 202300 463a03

***/


/*** green ***/

.green th, 
.green td,
th.green, 
td.green {
    border: 1px solid #023802;
}

td.green.border-left,
.green td.border-left {
    border: none;
    border-left: 1px solid #023802;
    border-top: 1px solid #023802;
    border-bottom: 1px solid #023802;
}

td.green.border-right,
.green td.border-right {
    border: none;
    border-right: 1px solid #023802;
    border-top: 1px solid #023802;
    border-bottom: 1px solid #023802;
}

td.green.border-none,
.green td.border-none {
    border: none;
    border-top: 1px solid #023802;
    border-bottom: 1px solid #023802;
}

.green tbody:hover tr.no_hover td,
tbody.green:hover tr.no_hover td,
.green td {
    background: #ffffff;
    color: #45a545;
}

.green tbody:hover tr.no-hover th,
tbody.green:hover tr.no-hover th,
tbody:hover tr.no-hover td.green,
.green th, 
th.green, 
td.green {
    background: #acdfac;
    color: #023802; 
}

tbody:hover th.green,
tbody:hover td.green,
.green tbody:hover th,
tbody.green:hover th {
    background: #8ad18a;
    color: #45a545; 
}

tbody:hover td.green,
.green tbody:hover td,
tbody.green:hover td {
    background: #cceccc;
    color: #000000; 
}

td.green a,
.green th a {
    color: #023802;
    text-decoration: none;
}

.green tbody:hover a,
tbody.green:hover a {
    color: black;
}

.green tbody:hover a:hover, .green tbody:hover a:active,
tbody.green:hover a:hover, tbody.green:hover a:active {
    background: #023802;
    color: white;
}

/*** blue ***/

.blue th, 
.blue td,
th.blue, 
td.blue {
    border: 1px solid #110730;
}

td.blue.border-left,
.blue td.border-left {
    border: none;
    border-left: 1px solid #110730;
    border-top: 1px solid #110730;
    border-bottom: 1px solid #110730;
}

td.blue.border-right,
.blue td.border-right {
    border: none;
    border-right: 1px solid #110730;
    border-top: 1px solid #110730;
    border-bottom: 1px solid #110730;
}

td.blue.border-none,
.blue td.border-none {
    border: none;
    border-top: 1px solid #110730;
    border-bottom: 1px solid #110730;
}

.blue tbody:hover tr.no_hover td,
tbody.blue:hover tr.no_hover td,
.blue td {
    background: #ffffff;
    color: #56458e;
}

.blue tbody:hover tr.no-hover th,
tbody.blue:hover tr.no-hover th,
tbody:hover tr.no-hover td.blue,
.blue th, 
th.blue, 
td.blue {
    background: #aea4cc;
    color: #110730; 
}

tbody:hover th.blue,
tbody:hover td.blue,
.blue tbody:hover th,
tbody.blue:hover th {
    background: #8d80b7;
    color: #56458e; 
}

tbody:hover td.blue,
.blue tbody:hover td,
tbody.blue:hover td {
    background: #cdc7e1;
    color: #000000; 
}

td.blue a,
.blue th a {
    color: #110730;
    text-decoration: none;
}

.blue tbody:hover a,
tbody.blue:hover a {
    color: black;
}

.blue tbody:hover a:hover, .blue tbody:hover a:active,
tbody.blue:hover a:hover, tbody.blue:hover a:active {
    background: #110730;
    color: white;
}

/*** yellow ***/

.yellow th, 
.yellow td,
th.yellow, 
td.yellow {
    border: 1px solid #463a03;
}

td.yellow.border-left,
.yellow td.border-left {
    border: none;
    border-left: 1px solid #463a03;
    border-top: 1px solid #463a03;
    border-bottom: 1px solid #463a03;
}

td.yellow.border-right,
.yellow td.border-right {
    border: none;
    border-right: 1px solid #463a03;
    border-top: 1px solid #463a03;
    border-bottom: 1px solid #463a03;
}

td.yellow.border-none,
.yellow td.border-none {
    border: none;
    border-top: 1px solid #463a03;
    border-bottom: 1px solid #463a03;
}

.yellow tbody:hover tr.no_hover td,
tbody.yellow:hover tr.no_hover td,
.yellow td {
    background: #ffffff;
    color: #cfba56;
}

.yellow tbody:hover tr.no-hover th,
tbody.yellow:hover tr.no-hover th,
tbody:hover tr.no-hover td.yellow,
.yellow th, 
th.yellow, 
td.yellow {
    background: #fff5c4;
    color: #463a03; 
}

tbody:hover th.yellow,
tbody:hover td.yellow,
.yellow tbody:hover th,
tbody.yellow:hover th {
    background: #fff0a8;
    color: #cfba56; 
}

tbody:hover td.yellow,
.yellow tbody:hover td,
tbody.yellow:hover td {
    background: #fff9dd;
    color: #000000; 
}

td.yellow a,
.yellow th a {
    color: #463a03;
    text-decoration: none;
}

.yellow tbody:hover a,
tbody.yellow:hover a {
    color: black;
}

.yellow tbody:hover a:hover, .yellow tbody:hover a:active,
tbody.yellow:hover a:hover, tbody.yellow:hover a:active {
    background: #463a03;
    color: white;
}

/*** red ***/

.red th, 
.red td,
th.red, 
td.red {
    border: 1px solid #460303;
}

td.red.border-left,
.red td.border-left {
    border: none;
    border-left: 1px solid #460303;
    border-top: 1px solid #460303;
    border-bottom: 1px solid #460303;
}

td.red.border-right,
.red td.border-right {
    border: none;
    border-right: 1px solid #460303;
    border-top: 1px solid #460303;
    border-bottom: 1px solid #460303;
}

td.red.border-none,
.red td.border-none {
    border: none;
    border-top: 1px solid #460303;
    border-bottom: 1px solid #460303;
}

.red tbody:hover tr.no_hover td,
tbody.red:hover tr.no_hover td,
.red td {
    background: #ffffff;
    color: #cf5656;
}

.red tbody:hover tr.no-hover th,
tbody.red:hover tr.no-hover th,
tbody:hover tr.no-hover td.red,
.red th, 
th.red, 
td.red {
    background: #ffc4c4;
    color: #460303; 
}

tbody:hover th.red,
tbody:hover td.red,
.red tbody:hover th,
tbody.red:hover th {
    background: #ffa8a8;
    color: #cf5656; 
}

tbody:hover td.red,
.red tbody:hover td,
tbody.red:hover td {
    background: #ffdddd;
    color: #000000; 
}

td.red a,
.red th a {
    color: #460303;
    text-decoration: none;
}

.red tbody:hover a,
tbody.red:hover a {
    color: black;
}

.red tbody:hover a:hover, .red tbody:hover a:active,
tbody.red:hover a:hover, tbody.red:hover a:active {
    background: #460303;
    color: white;
}
